.box-1{
    display: flex;
    justify-content: space-between;
    padding: 2vh 5vw;
    background-color:  #FFFFFF;
}
.box-2{
    background-color: rgba(229, 222, 255, 0.62);
    text-align: center;
    

}
@media screen and (min-width : 1024px) {
    .hamburger{
        display: none;
        }
        .box-3{
            display: flex;
            align-items: center;
        }
}
@media screen and (max-width : 768px) {
    .box-3{
        display: none;
    }
    
}

